<h1>Simple Angular Checkbox Component</h1>
<a href="https://github.com/Mokkapps/simple-angular-checkbox-component">Code available on GitHub</a>

<section>
  <h2>Without form</h2>
  <app-checkbox (change)="onChange($event)">Test Name</app-checkbox>
  <p>Checkbox status: {{checkedOutsideForm}}</p>
</section>

<section>
  <h2>Reactive form</h2>
  <form [formGroup]="form">
    <app-checkbox formControlName="checkbox">Reactive Form</app-checkbox>
  </form>
  <p>Form value: {{reactiveFormValue}}</p>
</section>

<section>
  <h2>Template driven form</h2>
  <form #templateForm="ngForm">
    <app-checkbox [(ngModel)]="checked" name="checkbox">Template Driven Form</app-checkbox>
  </form>
  <p>Form value: {{templateFormValue}}</p>
</section>